@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  background-color: coral;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

button {
  cursor: pointer;
}
