@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh; */
  background-color: coral;
  font-family: "Courier New", Courier, monospace;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 0;
}

button {
  cursor: pointer;
}

.notificationProfile {
  position: absolute;
  top: 13rem;
  right: 33rem;
  width: auto;
  padding: 10px;
  background-color: white;
  border: 1px solid gray;
  max-height: 400px;
  overflow-y: scroll;
}

.acceptRequestCard {
  position: fixed;
  top: 15rem;
  right:15rem;
  left:15rem; 
  width: 600px;
  height: 400px;
  padding: 10px;
  background-color: white;
  border: 1px solid black;
  max-height: 400px;
}
